html
head
body {
    font-family: Helvetica
}

#pierwszy-blok-gorny,
#drugi-blok-gorny {
    background-color: rgb(146,  164,  112);
    text-align: center;
    width: 50%;
    height: 170px;
}

#baner,
#stopka {
    background-color: rgb(100,61,49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
}

#glowny-lewy,
#glowny-prawy {
background-color: rgb(146,  164,  112);
width: 50%;
height: 450px;



}